.form {
  position: relative;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.addInput {
  width: 80%;
  height: 100%;
  padding: 0.2rem 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.addInput__label {
  position: absolute;
  top: 5px;
  left: 10px;
  opacity: 0.5;
}

.addInput:focus + label {
  visibility: hidden;
}
