.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.theme-toggle {
  font-size: 1.5rem;
  transition: all 300ms ease;
}
.theme-toggle:hover {
  color: var(--color-btn);
}

.filter-btn {
  border-bottom: 2px solid transparent;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 300ms ease;
}
.filter-btn:hover {
  color: var(--color-btn);
  border-bottom: 2px solid var(--color-btn);
}

.delete-btn {
  font-size: 1rem;
  transition: all 300ms ease;
}
.delete-btn:hover {
  color: var(--color-delete-btn);
  transform: scale(1.2) rotate(15deg);
}

.add-btn {
  width: 20%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-add-btn);
  transition: all 300ms ease;
}
.add-btn:hover {
  color: var(--color-btn);
}
