.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.item__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item__checkbox {
  width: 1rem;
  height: 1rem;
}
